<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title #animar1>
      UmamiUrbano
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>¡Bienvenido {{user.usuario}}!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      ¿Qué deseas hacer hoy?
    </ion-card-content>
  </ion-card>

  <!-- <ion-card>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [clearInput]="true"[(ngModel)]="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Numero</ion-label>
      <ion-input type="number" [clearInput]="true"[(ngModel)]="nro"></ion-input>
    </ion-item>
    <ion-button shape="block" (click)="guardar()">Guardar Contacto</ion-button>
    <ion-button shape="block" (click)="borrarContacto()">Borrar Contacto</ion-button>
    <ion-button shape="block" (click)="borrarBD()">Borrar BD</ion-button>
  </ion-card> -->

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        Inicio
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <ion-icon name="search"></ion-icon>
        Buscar restaurante
      </ion-tab-button>
      <ion-tab-button tab="library">
        <ion-icon name="pencil"></ion-icon>
        Escribir comentario
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-icon name="person"></ion-icon>
        Mi perfil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <!-- <ion-card>
    <ion-list>
      <ion-item *ngFor="let item of component; let index">
        <ion-avatar slot="start">
          <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
        </ion-avatar>
        <ion-label>{{ item }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>-->
</ion-content>
