<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>UmamiUrbano</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondouno">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <img alt="Logo" src="https://cdn.pixabay.com/photo/2019/06/20/05/44/burger-4286223_640.png" />

  <div class="centrar">
    <ion-button fill="outline" color="dark" (click)="registrarse()">Registrarse</ion-button>
    <ion-button fill="outline" color="dark" (click)="login()">Iniciar Sesión</ion-button>  
  </div>

</ion-content>
